<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Med Mapper - Identify physician prescribers with ease</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

  {{ selection }}

  <table style='border: 1px solid black;'>
  {% for key, value_dict in hp_dict.items() %}
     <tr>
          <td> {{ key }} </td>
          {% for element in value_dict.values() %}
          <td> {{ element }} </td>
          {% endfor %}
     </tr>
  {% endfor %}
  </table>

  </body>

</html>
